<body>
    <header id="home">
        <nav>
            <ul>
                <li><a href="./">HOME</a></li>
                <li><a href="./products">PRODUCTS</a></li>
                <li><a href="./users">USERS</a></li>
            </ul>
        </nav>
        <br>
        <br>
        <br>
        <br>
        <h1>{{title}}</h1>
        <p>Welcome to {{title}}</p>

        <h2>Miért válasszon minket?</h2>

        <div>
            <dl>
                <dt>10 év telepítési tapasztalat</dt>
                <dd>- Az Energia Kft. 1.500+ napelem rendszer telepítés tapasztalatával rendelkezik. Ez a tapasztalat
                    segít minket abban, hogy önnek is a legjobb rendszert ajánljuk és üzembiztosan telepítsük.</dd>
                <dt>5 év telepítési garancia</dt>
                <dd>- A piacon szokásos 1 évvel szemben mi 5 év garanciát vállalunk a telepítésre.</dd>
            </dl>
        </div>
        <footer>
            <div class="copyright-section">
                <div>
                    <p>
                        &#169;
                        <script>
                            document.write(new Date().getFullYear());
                        </script>
                        | Made by Junászka Klaudia
                    </p>
                </div>
            </div>
        </footer>
</body>