<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<h1>
    Árajánlat kérés napelemekre!
</h1>

<footer class=" container-fluid text-uppercase">
    <div>
        <p>Designed by Junászka Klaudia</p>
    </div>
</footer>
</body>