<body>
    <header id="home">
        <nav>
            <ul>
                <li><a href="./">HOME</a></li>
                <li><a href="./products">PRODUCTS</a></li>
                <li><a href="./users">USERS</a></li>
            </ul>
        </nav>
        <br>
        <br>
        <br>
        <br>
        <h1>{{title}}</h1>
        <p>Welcome to {{title}}</p>

        <h1>
            Árajánlat kérés napelemekre!
        </h1>

        <footer class=" container-fluid text-uppercase">
            <div>
                <p>Designed by Junászka Klaudia</p>
            </div>
        </footer>
</body>