@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
:root {
    --light: rgb(215, 222, 231);
    --blue: rgb(61, 63, 100);
    --lightblue: rgb(130, 136, 223);
    --dark: rgb(37, 36, 65);
}

body {
    position: relative;
    margin: 0;
    padding: 0;
    background-color: var(--light);
    font-family: "Roboto", sans-serif;
}

nav {
    width: 100%;
    background-color: var(--lightblue);
    margin: 0;
    padding: 0;
    position: fixed;
    height: 70px;
    display: inline-block;
    color: white;
}

nav ul {
    margin: auto;
    padding: 0;
    text-align: right;
    display: block;
}

nav ul li {
    list-style: none;
    padding: 28px 5px;
    margin: auto;
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    display: block;
    color: rgb(40, 44, 153);
    font-size: 0.7rem;
}

nav ul li a:hover {
    color: var(--light);
}

.copyright-section {
    display: flex;
    flex-wrap: nowrap;
    background-color: rgb(125, 170, 214);
    justify-content: center;
}

.copyright-section>div {
    text-align: center;
    line-height: 15px;
    font-size: 14px;
    color: white;
}